export default ({request}) => {
  if (request.source === "giphy") {
    return {
      apiKey: process.env.GIPHY_API_KEY
    }
  } else if (request.source === "bluesky") {
    return {}
  }
  return {}
}
